<!DOCTYPE html>
<html>
  <head>
    <title>GROSSTO</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/91abd10b8f.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>
    

    <nav class="navbar navbar-expand-lg" style="background-color: brown;">
      <a class="navbar-brand" href="/">
        <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 1000;color: rgb(179, 131, 70);">GROSSTO</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">




            <form class="form-inline" action="/products/search" method="GET">
              <input class="form-control mr-sm-2" type="search" placeholder="Search fro Products" aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>

           
          </li>
          <li class="nav-item"  style="color: rgb(179, 131, 70);">
            <a class="nav-link" href="/shopping-cart">
              <i class="fas fa-shopping-cart"  style="color: rgb(179, 131, 70);"></i> <% if(session.cart) { %>
              <span class="badge badge-pill badge-info"
                ><%= session.cart.totalQty %></span
              >
              <% } else { %>
              <span class="badge badge-pill badge-info"  style="color: rgb(179, 131, 70);"></span>
              <% } %>
            </a>
          </li>
          <li class="nav-item dropdown"  style="color: rgb(179, 131, 70);">
            <a class="nav-link dropdown-toggle" style="font-size: 1.25rem;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span style="color: rgb(179, 131, 70);">Categories</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style="color: rgb(179, 131, 70);">
              <ul  style="color: rgb(179, 131, 70);">
                <li <% if (pageName === "All Products") { %>
                  class="nav-item active"
                  <%} else {%>
                    class="nav-item"
                  <%} %> 
                >
                  <a class="nav-link" href="/products/"  style="color: rgb(179, 131, 70);">All</a>
                </li>
          
                <% if (categories) { %>
                  <% categories.forEach( category => { %>
                    <li <% if (pageName === category.title) { %>
                      class="nav-item active"
                      <% } else { %>
                        class="nav-item"
                      <% } %> 
                    >
                    <a class="nav-link" href="/products/<%= category.slug %>"  style="color: rgb(179, 131, 70);"><%= category.title %></a>
                  </li>
                    <% }) %>
                <% } %>
              </ul>
            </div>
          </li>





          <% if (login) { %>


            <li class="nav-item">
              <a class="nav-link" href="/user/profile">
               <span style="color: rgb(179, 131, 70);"><%=currentUser.username%></span>
              </a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="/user/logout">
               <span style="color: rgb(179, 131, 70);">Logout</span>
              </a>
            </li>


          
          <% } else {%>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">
             <span style="color: rgb(179, 131, 70);">SignUp</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin">
              <span  style="color: rgb(179, 131, 70);">Login</span>
            </a>
          </li>
          <% }%>
        </ul>
      </div>
    </nav>
  </body>

    <div id="page-container">
      <div id="content-wrap">
    